@use '../abstracts' as *;

[data-theme="dark"] {
    .footer {
        .container {
            svg {
                .st3 {
                    fill: #fff;
                }
            }
        }
    }
}

.footer {
    overflow-x: clip;
    margin-top: auto;

    &__adding {
        position: relative;
        display: flex;
        gap: 25px;
        background-color: var(--color-green-5);

        .container {
            display: grid;
            gap: 15px;
            max-width: 1200px;
            padding: 0 1rem;
            margin: 2rem 0;
            z-index: 1;
        
            @include breakpoint-up(md) {
                display: flex;
                align-items: center;
                gap: 80px;
                width: calc(100% - 4rem);
                padding: 0 2rem;
                margin: 3rem auto;
            }
        
            @include breakpoint-up(lg) {
                gap: 100px;
                width: calc(100% - 10rem);
                margin: 4rem auto;
            }

            a {
                display: contents;

                svg {
                    max-height: 40px;
    
                    @include breakpoint-up(md) {
                        max-height: 60px;
                    }
                }
            }

            .intro {
                max-width: 380px;
                color: var(--color-font-light);
                margin: 0;

                @include breakpoint-down(md) {
                    display: none;
                }
            }
        }
    }

    &__leave {
        position: absolute;
        max-width: 140px;
        right: -50px;
        bottom: -35px;
        user-select: none;

        @include breakpoint-up(md) {
            max-width: 180px;
            right: -15px;
        }

        @include breakpoint-up(lg) {
            max-width: 240px;
        }
    }

    &__copyright {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: .9em;
        background-color: var(--color-green-1);
        padding: 1rem;

        label {
            color: hsl(0, 0%, 100%);
        }

        @include breakpoint-up(md) {
            padding: 1rem 2rem;
        }
    }
}