@use '../abstracts' as *;

.footer {
    overflow-x: clip;
    margin-top: auto;

    &__steps {
        position: relative;
        display: flex;
        gap: 25px;
        background-color: var(--color-light);

        .container {
            display: grid;
            gap: 15px;
            max-width: 1200px;
            padding: 0 1rem;
            margin: 2rem 0;
            z-index: 1;
        
            @include breakpoint-up(md) {
                display: flex;
                gap: 25px;
                width: calc(100% - 4rem);
                padding: 0 2rem;
                margin: 3rem auto;
            }
        
            @include breakpoint-up(lg) {
                width: calc(100% - 10rem);
                margin: 5rem auto;
            }
        }

        .step {
            display: flex;
            background-color: hsl(0, 0%, 100%);
            width: fit-content;
            border-radius: 50px;

            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                background-color: var(--color-light);
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 4px solid hsl(0, 0%, 100%);

                @include breakpoint-up(md) {
                    height: 42px;
                    width: 42px;
                }

                img {
                    max-width: 18px;
                    filter: invert(130%) sepia(55%) saturate(3000%) hue-rotate(95deg) brightness(105%) contrast(80%);
                    
                    @include breakpoint-up(md) {
                        max-width: 22px;
                    }
                }
            }

            &__text {
                display: flex;
                align-items: center;
                padding: 0 1.5rem 0 .8rem;

                p {
                    font-size: .9em;
                    line-height: 1;
                    margin: 0;
                }
            }
        }
    }

    &__leave {
        position: absolute;
        max-width: 150px;
        right: -50px;
        bottom: -35px;

        @include breakpoint-up(md) {
            max-width: 190px;
            right: -15px;
        }

        @include breakpoint-up(lg) {
            max-width: 240px;
        }
    }

    &__copyright {
        position: relative;
        display: flex;
        justify-content: center;
        font-size: .9em;
        background-color: var(--color-cta);
        padding: 1rem;

        label {
            color: hsl(0, 0%, 100%);
        }

        @include breakpoint-up(md) {
            padding: 1.5rem 2rem;
        }
    }
}