@use '../abstracts' as *;

[data-theme="dark"] {
    nav {
        .logo {
            svg {
                .st3 {
                    fill: #fff;
                }
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(15px);
    background-color: var(--color-2);
    border-bottom: 1px solid var(--color-3);
    transition: .3s;
    z-index: 100;

    &.small {
        background-color: var(--color-menu);

        nav {
            display: flex;
            align-items: center;
            gap: 10px;
            text-align: left;
            padding: 1rem;

            .header-socials {
                .share-icon {
                    position: relative;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    nav {
        position: relative;
        overflow: hidden;
        max-width: 1200px;
        text-align: center;
        padding: 1rem;
        margin: 0 auto;

        @include breakpoint-up(md) {
            display: grid;
            grid-template-columns: 162px auto 162px;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            padding: 1.5rem 2rem;
        }

        .logo {
            position: relative;
            display: contents;
            width: fit-content;
            order: 0;

            @include breakpoint-down(sm) {
                display: flex;
                order: -1;

                &::before {
                    left: 0;
                }

                &::before, &::after {
                    content: "";
                    border-top: 1px solid hsl(0, 0%, 80%);
                    height: 39%;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: calc(50% - 70px);
                }
            }

            svg {
                max-height: 80px;
                width: 100%;
                transition: .5s;

                @include breakpoint-up(md) {
                    max-height: 105px;
                }
            }

            &--small {
                svg {
                    max-height: 30px;
    
                    @include breakpoint-up(md) {
                        max-height: 40px;
                    }
                } 

                &::before, &::after {
                    content: unset;
                }
            }
        }

        .header {

            &-socials {
                display: flex;
                gap: 10px;
                flex-shrink: 0;

                .share {
                    &-icon {
                        position: absolute;
                        padding: .2rem .5rem;
            
                        @include breakpoint-up(md) {
                            position: relative;
                            height: 35px;
                            width: 35px;
                            border-radius: 50%;
                            font-size: 1.1em;
                            padding: 0;
                        }
                        
                        @include breakpoint-down(sm) {
                            display: none;
                        }
            
                        span {
                            font-size: .8em;
            
                            @include breakpoint-up(md) {
                                display: none;
                            }
                        }
                    } 
                } 
            }
        } 
        
        .share-contact {
            font-size: .9em;
            padding: .4rem .7rem;

            @include breakpoint-down(sm) {
                display: none;
            }
        }  
    }
}