@use '../abstracts' as *;

header {
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(15px);
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(232, 18%, 93%);
    z-index: 100;

    &.small {
        background-color: var(--color-menu);

        nav {
            display: flex;
            align-items: center;
            gap: 10px;
            text-align: left;
            padding: 1rem;

            .header-socials {
                .share-icon {
                    position: relative;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    nav {
        position: relative;
        overflow: hidden;
        max-width: 1200px;
        text-align: center;
        padding: 1rem;
        margin: 0 auto;

        @include breakpoint-up(md) {
            display: grid;
            grid-template-columns: 162px auto 162px;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            padding: 1.5rem 2rem;
        }

        .logo {
            position: relative;
            display: contents;
            width: 100%;
            order: 0;

            @include breakpoint-down(sm) {
                display: inline-block;
                order: -1;

                &::before {
                    left: 0;
                }

                &::before, &::after {
                    content: "";
                    border-top: 1px solid hsl(0, 0%, 80%);
                    height: 39%;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: calc(50% - 70px);
                }
            }

            img {
                max-height: 80px;
                transition: .5s;

                @include breakpoint-up(md) {
                    max-height: 105px;
                }
            }

            &--small {
                img {
                    max-height: 40px;
    
                    @include breakpoint-up(md) {
                        max-height: 50px;
                    }
                } 

                &::before, &::after {
                    content: unset;
                }
            }
        }

        .header {

            &-socials {
                display: flex;
                gap: 10px;

                .share-icon {
                    position: absolute;

                    &:hover, &:active {
                        svg {
                            transform: scale(1.1);
                            color: hsl(0, 0%, 0%);
                        }
                    }
        
                    @include breakpoint-up(md) {
                        position: relative;
                        height: 35px;
                        width: 35px;
                        border-radius: 50%;
                        font-size: 1.1em;
                        padding: 0;
                    }
                    
                    @include breakpoint-down(sm) {
                        right: 1rem;
                        top: 1rem;
        
                        &.insta, &.linkedin {
                            display: none;
                        }
                    }
        
                    span {
                        font-size: .8em;
        
                        @include breakpoint-up(md) {
                            display: none;
                        }
                    }

                    svg {
                        transition: all  .1s ease-in-out; 

                        path {
                            color: var(--color-cta);
                        }
                    }
                }    
            }

            &-link {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                flex-shrink: 0;           
                border: 1px solid var(--color-cta);
                background-color: transparent;
                border-radius: 30px;
                text-decoration: none;
                width: max-content;
                color: hsl(0, 0%, 0%);
                font-size: .9em;
                padding: .3rem .5rem;   
                z-index: 2;
                
                svg {
                    color: var(--color-cta);
                    width: 15px;

                    path {
                        color: var(--color-cta);
                    }
                }
    
                &.share {
                    &-contact {
                        &:hover, &:active {
                            svg {
                                transform: scale(1.1);
                                color: hsl(0, 0%, 0%);
                            }
                        }
                        svg {
                            transition: all  .1s ease-in-out; 
                        }                       
                        @include breakpoint-down(sm) {
                            display: none;
                        }
                    }
                }
            }
        }  
    }
}