@use '../abstracts' as *;

[data-theme="dark"] {
    .hero {
        &--dark {
            background-color: var(--color-green-1);
    
            .hero { 
                &__images {
    
                    .leave {
                        filter: invert(51%) sepia(24%) saturate(1122%) hue-rotate(79deg) brightness(40%) contrast(88%);
                    }
                }
            }
        }
    }
}

.hero {
    position: relative;
    height: 330px;
    width: 100%;
    height: 280px;
    max-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--color-menu);
    overflow: hidden;
    padding-top: 117px;

    @include breakpoint-up(md) {
        padding-top: 154px;
        height: 400px;
        max-height: 400px;
    }

    &--dark {
        background-color: var(--color-green-1);

        .hero {
            &__text {
                h1, p {
                    color: hsl(0, 0%, 100%);
                }
            }

            &__images {

                .leave {
                    filter: invert(51%) sepia(24%) saturate(1122%) hue-rotate(79deg) brightness(96%) contrast(88%);
                }
            }
        }
    }

    &--vh {
        height: 100%;
        max-height: 100%;
        min-height: calc(100vh - 231px);

        @include breakpoint-up(md) {
            min-height: calc(100vh - 360px);
        }

        @include breakpoint-up(lg) {
            min-height: calc(100vh - 422px);
        }

        .hero__text {
            position: relative;
            flex-direction: column;

            p {
                max-width: unset;
            }
        }
    }

    &__container {
        position: relative;
        height: 100%;
    }

    &__text {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        text-align: center;
        padding: 1rem;
        z-index: 10;

        h1 {
            --bg-size: 400%;
            background: linear-gradient(
                          90deg,
                          var(--color-green-1),
                          var(--color-green-2),
                          var(--color-green-1)
                        ) 0 0 / var(--bg-size) 100%;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            animation: textShine 8s linear infinite;
        }

        p {
            font-family: var(--font-medium);
            color: var(--color-font-light);

            @include breakpoint-up(md) {
                max-width: 650px;
                line-height: 1.4;
            }
        }
    }

    &__images {
        position: relative;
        height: 100%;
        user-select: none;

        .leave {
            position: absolute;
            max-width: 130px;

            @include breakpoint-up(md) {
                max-width: 220px;
            }

            @include breakpoint-up(xlg) {
                max-width: 260px;
            }

            &--one {
                left: 0px;
                rotate: 35deg;
                animation: leave-one 2s forwards;

                @include breakpoint-up(xlg) {
                    left: 20px;
                    rotate: 80deg;
                }
            }

            &--two {
                right: -50px;
                rotate: 90deg;
                animation: leave-two 1s forwards;

                @include breakpoint-up(md) {
                    right: 0;
                }
            }

            &--three {
                right: 0;
                rotate: 260deg;
                animation: leave-three 2s forwards;

                @include breakpoint-up(md) {
                    right: 20px;
                }

                @include breakpoint-up(lg) {
                    right: 50px;
                    rotate: 320deg;
                }
            }

            &--four {
                left: -10px;
                rotate: 280deg;
                animation: leave-four 1s forwards;

                @include breakpoint-up(md) {
                    left: 5px;
                }

                @include breakpoint-up(xlg) {
                    left: 30px;
                }
            }
        }

        .bg-leaves {
            display: block;
            width: 100vw;
            height: calc(100% - 117px);
            object-fit: cover;

            @include breakpoint-up(md) {
                height: calc(100% - 153px);
            }
        }
    }
}