@use '../abstracts' as *;

.hero {
    position: relative;
    height: 330px;
    width: 100%;
    height: 280px;
    max-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding-top: 83px;
    margin-top: 33px;

    @include breakpoint-up(md) {
        height: 400px;
        max-height: 400px;
        padding-top: 120px;
    }

    &__container {
        position: relative;
        height: 100%;
    }

    &__text {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
        text-align: center;
        padding: 1rem;
        z-index: 10;
    }

    &__images {
        position: relative;
        height: 100%;

        .leave {
            position: absolute;
            max-width: 130px;

            @include breakpoint-up(md) {
                max-width: 220px;
            }

            @include breakpoint-up(xlg) {
                max-width: 260px;
            }

            &--one {
                left: 0px;
                rotate: 80deg;
                animation: leave-one 2s forwards;

                @include breakpoint-up(xlg) {
                    left: 20px;
                }
            }

            &--two {
                right: -50px;
                rotate: 90deg;
                animation: leave-two 1s forwards;

                @include breakpoint-up(md) {
                    right: 0;
                }
            }

            &--three {
                right: 0;
                rotate: 310deg;
                animation: leave-three 2s forwards;

                @include breakpoint-up(md) {
                    right: 20px;
                }

                @include breakpoint-up(lg) {
                    right: 50px;
                }
            }

            &--four {
                left: -10px;
                rotate: 280deg;
                animation: leave-four 1s forwards;

                @include breakpoint-up(md) {
                    left: 20px;
                }

                @include breakpoint-up(xlg) {
                    left: 70px;
                }
            }
        }

        .bg-leaves {
            display: block;
            width: 100vw;
            height: calc(100% - 117px);
            object-fit: cover;

            @include breakpoint-up(md) {
                height: calc(100% - 153px);
            }
        }
    }
}