@use '../abstracts' as *;

.boxing {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-light);
    border-radius: 5px;
    padding: 1.2rem;

    @include breakpoint-up(md) {
        padding: 3rem 5rem;
    }

    &__content {
        display: grid;
        justify-items: center;
        gap: 1rem;
        text-align: center;
        max-width: 600px;

        .top-image {
            max-height: 80px;
            margin-bottom: .5rem;

            @include breakpoint-up(md) {
                max-height: 100px;
                margin-bottom: 1rem;
            }
        }

        p {
            line-height: 1.5;
            margin: 0;
        }
    }
}