@use '../abstracts' as *;

.content { 
    margin-bottom: 2rem;

    &.schema {
        img {
            height: auto;
        }
    }

    h2 {
        margin: 1rem 0;

        @include breakpoint-up(md) {
            margin: 1.5rem 0;
        }
    }

    h3 {
        margin-top: 1.5rem;

        @include breakpoint-up(md) {
            margin-top: 2rem;
        }
    }

    h4 {
        margin: 2rem 0 1.3rem 0;
    }

    h6 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-size: 1em;
        color: var(--color-moss);
        background-color: var(--color-transparent);
        border-radius: 50%;
        margin: -50px 0 0 10px;

        @include breakpoint-up(md) {
            width: 60px;
            height: 60px;
            font-size: 2em;
            margin: -90px 0 0 20px;
        }
    }

    img {
        width: 100%;
        border-radius: 5px;
        height: 260px;
        object-fit: cover;
        margin: .5rem 0;

        @include breakpoint-up(md) {
            height: 300px;
        }

        @include breakpoint-up(lg) {
            height: 500px;
        }
    }

    p {
        line-height: 1.5;
    }

    blockquote {
        margin: 2rem 0 .5rem 0;

        p {
            position: absolute;
            background-color: var(--color-moss);
            color: var(--color-light);
            border-radius: 5px;
            font-weight: bold;
            width: fit-content;
            font-size: .8em;
            text-transform: uppercase;
            padding: 6px 10px;
            margin: -4px 0 0 10px;

            @include breakpoint-up(md) {
                padding: 8px 15px;
                margin: -8px 0 0 20px;
            }
        }
    }

    ul {
        padding-left: 1rem;

        li {
            padding-left: 7px;

            &::marker {
                content: '➜';
                color: var(--color-cta);
            }
        }
    }

    sup {
        display: block;
        color: var(--color-cta);
        background-color: var(--color-light);
        border-radius: 5px;
        font-size: 1.1em;
        line-height: 1.6;
        text-align: center;
        font-weight: 500;
        padding: 2.5rem 1.5rem;
        margin: 2rem 0;

        @include breakpoint-up(md) {
            padding: 2rem 2rem;
            margin: 2rem 0;
        }

        @include breakpoint-up(lg) {
            font-size: 1.2em;          
            padding: 3rem 7rem;
            margin: 3rem 0;
        }
    }

    hr {
        margin: 1.5rem 0;
    }
}