@use '../abstracts' as *;

.filter {
    &-container {
        display: flex;
        flex-wrap: wrap;
        gap: 13px;
        margin: 1rem 0 1rem 0;

        @include breakpoint-up(md) {
            margin: 1rem 0 2rem 0;
        }
    }

    &-item {
        display: inherit;
        border: none;
        border-radius: 30px;
        transition-duration: .15s;
        padding: 0;

        input {
            display: none;

            &:checked {
                + label {
                    background-color: var(--color-moss);  
                    color: hsl(0, 0%, 100%);
                }
            }
        }

        label {
            background-color: hsl(0, 0%, 95%);
            color: var(--color-cta);  
            font-size: 1.1em;
            border-radius: 30px;
            padding: 10px 18px;

            &:hover {
                background-color: var(--color-transparent);
                cursor: pointer;
            }

            &:active {
                color: hsl(0, 0%, 100%);
                background-color: var(--color-moss);  
            }
        }
    }
}