.load {
    &-container {
        display: flex;
        justify-content: center;
        background-color: var(--color-green-5);
        border-radius: 10px;
        padding: 1rem;
    }

    &-flower {
        width: 13px;
        height: 40px;
        background: var(--color-transparent);
        display: block;
        margin: 20px auto;
        border-radius: 10px;
        position: relative;
        box-sizing: border-box;
        animation: rotationBack 1s ease-in-out infinite reverse;
        
        &::before {
            content: '';  
            box-sizing: border-box;
            left: -13px;
            top: 13px;
            position: absolute;
            border-radius: 10px;
            width: 40px;
            height: 13px;
            background: var(--color-transparent);
            box-shadow: var(--box-shadow);
        }

        &::after {
            content: '';  
            box-sizing: border-box;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 50%;
            background: hsl(49, 100%, 74%);
            transform: translate(-50%, -50%);
            box-shadow: var(--box-shadow);
        }

        &-container {
            display: flex;
            gap: 30px;
        }
    }
}

@keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }