@use '../abstracts' as *;

.order {
    &-header {
        display: grid;

        @include breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            gap: 1rem;
        }

        p {
            @include breakpoint-up(md) {
                margin-bottom: 0;
            }
        }
    }
}