@use '../abstracts' as *;

.quiz progress {
    width: 100%;
    height: 11px;
    background: var(--color-green-1);
    border-radius: 20px;
    overflow: hidden;

    @include breakpoint-up(md) {
        max-width: 340px;
    }

    &::-webkit-progress-bar {
        background-color: hsl(0, 0%, 97%);
        border: 1px solid hsl(0, 0%, 70%);
        border-radius: 20px;
    }

    &::-webkit-progress-value {
        background: var(--color-green-1);
        border-radius: 20px;
    }

    &.answered {
        background: var(--color-3);

        &::-webkit-progress-value {
            background: var(--color-3);
        }
    }

    &.correct {
        background: var(--color-correct);

        &::-webkit-progress-value {
            background: var(--color-correct);
        }
    }

    &.wrong {
        background: var(--color-error);

        &::-webkit-progress-value {
            background: var(--color-error);
        }
    }
}