@use '../abstracts' as *;

.quiz {
    position: relative;
    display: grid;
    justify-items: center;
    gap: 1.5rem;

    &-header {
        font-size: 2em;
        margin-top: 1rem;

        @include breakpoint-up(md) {
            font-size: 3em;
            margin-top: 3rem;
        }
    }

    &-container {
        width: calc(100% - 2rem);
        background-color: var(--color-green-5);
        border-radius: 5px;
        height: auto;
        padding: 1.5rem 1rem;
        margin-bottom: 4rem;

        @include breakpoint-up(md) {
            width: calc(100vw - 30%);
            padding: 3rem;
            margin-bottom: 2rem;
        }

        @include breakpoint-up(lg) {
            width: calc(100vw - 52%);
            margin-bottom: 4rem;
        }
    }

    &-amount {
        position: absolute;
        top: -1rem;
        right: -1rem;
        color: var(--color-font-light);
        background-color: var(--color-1);
        border-radius: 5px;
        font-size: .9em;
        padding: 3px 6px;

        @include breakpoint-down(sm) {
            top: -.5rem;
            right: 0;
        }
    }

    &-timer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7rem;
        width: 100%;

        h3 {
            &.wrong {
                color: var(--color-error-bright);
            }

            &.correct {
                color: var(--color-green-2);
            }
        }
    }

    &-answers {
        display: grid;
        gap: .7rem;
        list-style: none;
        padding: 0;
        margin: 0;

        .answer {
            button {
                width: calc(100% - 3rem);
            }
        }
    }

    h2 {
        font-size: 1.1em;

        @include breakpoint-up(md) {
            font-size: 1.4em;
        }
    }
}

.summary {
    display: grid;
    justify-content: center;
    gap: 2rem;

    &__states {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        margin: 0 auto;

        .score {
            display: grid;
            gap: .7rem;
            border-radius: 5px;
            background-color: var(--color-transparent-1);
            min-width: 55px;
            padding: 1rem;

            @include breakpoint-up(md) {
                width: 130px;
            }

            &__number {
                font-size: 1.3em;
                font-family: var(--font-medium);
                color: var(--color-4);

                @include breakpoint-up(md) {
                    font-size: 3em;
                }
            }
        }
    }

    &__answers {
        display: grid;
        gap: 1.5rem;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: grid;
            justify-content: center;
            gap: 1rem;
            width: 100%;

            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                font-size: 1em;
                color: var(--color-green-2);
                background-color: var(--color-transparent);
                border-radius: 50%;
                margin: 0 auto;
            }

            p {
                margin: 0;
            }   
            
            .user-answer {
                width: fit-content;
                background-color: var(--color-3);
                border-radius: 5px;
                padding: 1rem;
                margin: 0 auto;

                &.wrong {
                    background-color: var(--color-error);
                }

                &.correct {
                    background-color: var(--color-correct);
                }
            }

            .question-answer {
                color: var(--color-blue);
            }
        }
    }
}