@use '../abstracts' as *;

[data-theme="dark"] {
    input {
        + label {
            background: hsl(0, 0%, 14%);
            border: 1px solid hsl(0, 0%, 20%);

            &:after {
                left: 67px;
                transform: translateX(-100%);
                background: linear-gradient(180deg, var(--color-green-5), var(--color-green-5));

                @include breakpoint-up(md) {
                    left: 87px;
                }
            }

            svg {
                &.sun {
                    path {
                        fill:hsl(0, 0%, 54%);
                    }
                }

                &.moon {
                    path {
                        fill:hsl(0, 0%, 100%);
                    }
                }
            }
        }
    }
}

.themeswitch {
    display: flex;
    justify-content: flex-end;

    @include breakpoint-down(sm) {
        position: absolute;
        top: .7rem;
        right: .7rem;
    }

    label {
        width: 70px;
        height: 30px;
        position: relative;
        display: block;
        background: hsl(0, 0%, 92%);
        border: 1px solid hsl(0, 1%, 85%);
        border-radius: 200px;
        cursor: pointer;
        transition: .3s;

        @include breakpoint-up(md) {
            width: 90px;
            height: 37px;
        }

        &:after {
            content: "";
            width: 24px;
            height: 24px;
            position: absolute;
            top: 3px;
            left: 3px;
            background: linear-gradient(180deg, var(--color-green-1), var(--color-green-2));
            border-radius: 50%;
            box-shadow: var(--box-shadow);
            transition: .3s;

            @include breakpoint-up(md) {
                width: 32px;
                height: 32px;
            }
        }

        svg {
            position: absolute;
            width: 32px;
            top: 7px;
            z-index: 100;
            transition: .3s;

            @include breakpoint-up(md) {
                width: 32px;
                top: 11px;
            }

            &.sun {
                left: -1px;

                @include breakpoint-up(md) {
                    left: 3px;
                }

                path {
                    fill:hsl(0, 0%, 100%);
                }
            }

            &.moon {
                left: 40px;

                @include breakpoint-up(md) {
                    left: 56px;
                }

                path {
                    fill:hsl(0, 0%, 54%);
                }
            }
        }
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        visibility: hidden;
    }
}