@use '../abstracts' as *;

.title-line {
    position: relative;
    text-align: center;
    overflow: hidden;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 1rem;

    span {
        animation: load_in 1s forwards;
    }

    @include breakpoint-up(md) {
        margin-bottom: 3rem;

        span {
            position: relative;
    
            &::before, &::after {
                content: "";
                border-top: 1px solid hsl(105, 29%, 84%);
                height: 1px;
                position: absolute;
                right: -620px;
                bottom: 5px;
                width: 600px;
            }
    
            &::before {
                left: -620px;
                right: auto;
            }
        }
    }
}