.todo {
    display: grid;
    gap: 5px;
    padding: 0 .8rem;
    margin-bottom: 0;

    li {
        padding-left: .3rem;

        &::marker {
            content: "✤";
            color: var(--color-cta);
        }
    }
}