@use '../../styles/mixins' as *;

.post {
    &Item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0;
        transition: ease-in-out .2s;
        height: 100%;
        color: hsl(0, 0%, 0%);
        text-decoration: none;
        box-shadow: var(--box-shadow);
        background-color: var(--color-1);
        border: 1px solid var(--color-3);
        border-radius: 6px;
        overflow: hidden;

        a {
            text-decoration: none;
        }

        &__img {
            position: relative;
            flex-shrink: 0;
            height: 200px;

            @include breakpoint-up(lg) {
                height: 250px;
            }

            img {
                display: block;
                object-fit: cover;
                height: auto;
                width: 100%;
                text-indent: 10px;
                text-transform: capitalize;
                color: hsl(0, 0%, 100%);
                border-radius: 5px 5px 0 0;
                filter: brightness(90%);
                margin: 0;
            }

            span {
                min-height: 100%;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 16px;
            height: 100%;
            padding: 1.2rem;

            @include breakpoint-up(lg) {
                padding: 1.7rem 1.5rem;
            }

            > * {
                margin: 0;
            }

            h2 {
                color: var(--color-green-2);
                line-height: 1.5;

                @include breakpoint-down(sm) {
                    font-size: 1.2em;
                }
            }     
            
            .date {
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: .7em;
                color: hsl(0, 0%, 10%);
                background-color: hsla(0, 0%, 100%, .9);
                border-radius: 5px;
                padding: .3rem .6rem;
                z-index: 5;
            }

            .button {
                width: auto;
                margin-top: auto;
            }
        }

        &.active {
            &:hover, &:active {

                @include breakpoint-up(md) {
                    transform: scale(1.05);
                }
                
                h2 {
                    color: var(--color-blue);
                }
            }
        }
    }
}