:root {
    --color-1: hsl(0, 0%, 100%);
    --color-2: hsl(0, 0%, 100%);
    --color-3: hsl(0, 0%, 90%);
    --color-4: hsl(220, 38%, 11%);
    --color-font: hsl(220, 38%, 11%);
    --color-font-light: hsl(223, 18%, 31%);
    --color-blue: hsl(204, 68%, 42%);
    --color-menu: hsla(0, 0%, 100%, .9);
    --color-error:  hsl(0, 100%, 90%);
    --color-correct: hsl(128, 22%, 85%);
    --color-green-1: hsl(152, 100%, 21%);
    --color-green-2: hsl(130, 47%, 42%);
    --color-green-3: hsl(130, 47%, 42%);
    --color-green-5:	hsl(132, 16%, 94%);
    --color-transparent:hsl(128, 22%, 85%);
    --color-transparent-1: hsla(0, 0%, 100%, .6);

    --box-shadow: 0px 0px 25px 10px hsl(220, 16%, 96%);
}

[data-theme='dark'] {
    --color-1: hsl(220, 16%, 18%);
    --color-2: hsl(223, 9%, 15%);
    --color-3: hsl(225, 9%, 18%);
    --color-4: hsl(130, 47%, 42%);
    --color-font: hsl(0, 0%, 100%);
    --color-font-light: hsl(0, 0%, 100%);
    --color-menu: hsla(0, 0%, 10%, .9);
    --color-error:  hsl(0, 74%, 27%);
    --color-correct: hsl(152, 100%, 21%);
    --color-green-3: hsl(128, 22%, 85%);
    --color-green-5:	hsl(152, 100%, 11%);
    --color-transparent:hsl(132, 4%, 26%);
    --color-transparent-1: hsla(0, 0%, 100%, .05);

    --box-shadow: 0px 0px 25px 10px hsl(0, 0%, 10%);
}