:root {
    --color-font: hsla(0, 0%, 50%);
    --color-menu: hsl(0, 0%, 100%);
    --color-cta: hsl(106, 78%, 25%);
    --color-light: 	hsl(100, 25%, 95%);
    --color-footer: hsl(83, 71%, 28%);
    --color-transparent:hsl(84, 26%, 81%);
}