:root {
    --color-font: hsl(220, 38%, 11%);
    --color-blue: hsl(222, 50%, 50%);
    --color-menu: hsla(0, 0%, 100%, .9);
    --color-cta: hsl(152, 100%, 21%);
    --color-light: 	hsl(132, 16%, 94%);
    --color-moss: hsl(130, 47%, 42%);
    --color-transparent:hsl(128, 22%, 85%);
}