@use '_mixins' as *;

@keyframes load_in {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }  
}

@keyframes textShine {
    to {
      background-position: var(--bg-size) 0;
    }
  }

@keyframes leave-one { 
    0% { 
        opacity: 0;
        transform: rotate(40deg); 
        top: -30%;
    } 

    100% { 
        opacity: 1;
        top: -20%;
        transform: rotate(45deg); 
    } 
}

@keyframes leave-two { 
    0% { 
        opacity: 0;
        transform: rotate(0deg); 
        top: -30%;
    } 

    50% {
        transform: rotate(10deg);
    }

    100% { 
        opacity: 1;
        top: -17%;
        transform: rotate(5deg); 
    } 
}

@keyframes leave-three { 
    0% { 
        opacity: 0;
        transform: rotate(0deg); 
        bottom: -60%;
    } 

    100% { 
        opacity: 1;
        bottom: -22%;
        transform: rotate(5deg); 
    } 
}

@keyframes leave-four { 
    0% { 
        opacity: 0;
        transform: rotate(0deg); 
        bottom: -50%;
    } 

    50% {
        transform: rotate(10deg);
    }

    100% { 
        opacity: 1;
        bottom: -20%;
        transform: rotate(5deg); 
    } 
}