@use '../../styles/mixins' as *;

.tipsGrid {
    display: flex;
    gap: 1.3rem;

    @include breakpoint-down(sm) {
        overflow: auto hidden;
    }

    @include breakpoint-up(md) {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2rem;
    }

    @include breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 2.5rem;
    }
}