@use "sass:map";

$breakpoints-up: ("md": "767px", "lg": "992px", "xlg": "1200px", "xxlg": "1400px");
$breakpoints-down: ("sm": "766px", "md": "991px", "lg": "1199px", "xlg": "1399px");

@mixin breakpoint-up($size) {
    @media (min-width: map.get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoint-down($size) {
    @media (max-width: map.get($breakpoints-down, $size)) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}