@use '../styles/mixins' as *;

.themeSwitch {
    line-height: 1;
    padding-left: 10px;
    padding-right: 15px;
    margin-left: auto;

    @include breakpoint-down(sm) {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    .skeleton {
        display: flex;
        gap: 10px;
        align-items: center;

        .themeIcon {
            animation: spin 1s linear infinite;
        }
    }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}