@use '@/styles/mixins' as *;

.meta {
    flex-shrink: 0;
    bottom: 1rem;
    right: 1rem;
    color: var(--white-clr);
    background-color: hsla(106, 78%, 21%, 80%);
    border-radius: 10px;
    font-size: .9em;
    padding: 10px;

    @include breakpoint-up(md) {
        bottom: 0;
        right: 2rem;
        font-size: 1em;
        padding: 1rem;
    }

    @include breakpoint-up(lg) {
        position: relative;
        right: 0;
        background-color: rgb(255 255 255 / 20%);
        padding: 1.5rem 2rem;
    }

    div {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            width: 20px;
        }

        span {
            flex-shrink: 0;

            &::first-letter {
                text-transform: capitalize;
            }
        }
    }
}