@use '@/styles/mixins' as *;

.postheader {
    position: relative;
    display: grid;
    width: 100%;
    max-width: unset;
    height: 350px;
    max-height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;

    @include breakpoint-up(md) {
        height: 600px;
        max-height: 600px;
    }

    &::after {
        content: "";
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45) 100%);
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
    }

    &Bg {
        background-color: var(--color-green-2);
    }

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1200px;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 1;

        @include breakpoint-up(md) {
            width: calc(100% - 4rem);
            padding: 0 2rem;
            margin: 3rem auto;
        }

        @include breakpoint-up(lg) {
            width: calc(100% - 10rem);
            padding: 0 5rem;
        }
        
        > div {
            margin: 1rem;

            @include breakpoint-up(md) {
                margin: 0;
            }

            h1, label, path, span {
                color: hsl(0, 0%, 100%);
            }

            h1 {
                max-width: 850px;
                margin-bottom: .5rem;
                animation: load_in 1s forwards
            }
        }
    }
}

.postcontent {
    display: grid;
    gap: 1.5rem;

    @include breakpoint-up(md) {
        grid-template-columns: 60% 1fr;
        gap: 4rem;
    }

    @include breakpoint-up(lg) {
        grid-template-columns: 1fr 260px;
        gap: 5rem;
    }

    article {
        min-width: 0;
        overflow-x: hidden;
    }

    &__story {
        overflow-x: hidden;
        
        h2, h3, h4 {
            margin-top: .5rem;
        }
    
        h6 {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-size: 1em;
            color: var(--color-green-2);
            background-color: var(--color-transparent);
            border-radius: 50%;
            margin: -50px 0 0 10px;
    
            @include breakpoint-up(md) {
                width: 60px;
                height: 60px;
                font-size: 2em;
                margin: -90px 0 0 20px;
            }
        }

        img {
            width: 100%;
            border-radius: 5px;
            height: 260px;
            object-fit: cover;
            margin: .5rem 0;
    
            @include breakpoint-up(md) {
                height: 300px;
            }
    
            @include breakpoint-up(lg) {
                height: 500px;
            }
        }

        p {
            line-height: 1.5;
        }

        b {
            font-weight: 500;
        }
    
        blockquote {
            margin: 2rem 0 .5rem 0;
    
            p {
                position: absolute;
                background-color: var(--color-green-2);
                color: var(--color-green-5);
                border-radius: 5px;
                font-weight: bold;
                width: fit-content;
                font-size: .8em;
                text-transform: uppercase;
                padding: 6px 10px;
                margin: -4px 0 0 10px;
    
                @include breakpoint-up(md) {
                    padding: 8px 15px;
                    margin: -8px 0 0 20px;
                }
            }
        }
    
        ul {
            padding-left: 1rem;
    
            li {
                padding-left: 7px;
    
                &::marker {
                    content: '➜';
                    color: var(--color-green-1);
                }
            }
        }
    
        sup {
            display: block;
            color: var(--color-green-3);
            font-family: var(--font-pacaembu);
            background-color: var(--color-green-5);
            border-radius: 5px;
            font-size: 1.1em;
            line-height: 1.6;
            text-align: center;
            font-weight: 500;
            padding: 2.5rem 1.5rem;
            margin: 2rem 0;
    
            @include breakpoint-up(md) {
                padding: 2rem 2rem;
                margin: 2rem 0;
            }
    
            @include breakpoint-up(lg) {
                font-size: 1.2em;          
                padding: 3rem 7rem;
                margin: 3rem 0;
            }
        }
    
        hr {
            margin: 1.5rem 0;
        }

        table {
            display: block;
            border-collapse: collapse;
            border: 1px solid lightgray;
            border-radius: 5px;
            overflow-x: auto;
            max-width: fit-content;
            white-space: nowrap;
            width: 100%;
            margin-bottom: 1rem;
        
            @include breakpoint-down(sm) {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }
        
            th {
                background-color: var(--color-transparent);
                font-size: .9em;
            }
        
            td {
                vertical-align: top;
                line-height: 2;
        
                &:nth-child(even) {
                    background-color: var(--color-green-5);
                }
            }
        
            th, td {
                width: 100%;
                padding: 10px;
        
                p {
                    padding: 5px;
                    margin: 0;
                }
            }
        }
    }
}

.contentImage {
    max-width: 100% !important;
    height: auto !important;
    object-fit: cover;
}

.post {
    &-progressbar {
        position: fixed;
        top: 59px;
        left: 0;
        right: 0;
        height: 3px;
        background: var(--color-green-2);
        transform-origin: 0%;
        z-index: 999;

        @include breakpoint-up(md) {
            top: 73px;

        }
    }
}