@use '../../styles/mixins' as *;

.quiz {
    &__timer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7rem;
        width: 100%;

        h3 {
            &.wrong {
                color: var(--color-error-bright);
            }

            &.correct {
                color: var(--color-green-2);
            }
        }
    }
}