@use '../abstracts' as *;

@font-face {
    font-family: 'title';
    src: url('../fonts/PatrickHand-Regular.woff') format('woff');
    src: url('../fonts/PatrickHand-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

:root {
    --font-title: 'title';
}

h1 {
    font-size: 2em;

    @include breakpoint-up(md) {
        font-size: 3em;
    }

    @include breakpoint-up(lg) {
        font-size: 4em;
    }
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title) !important;
    color: var(--color-heading);
    margin: 0;
}

b {
    font-weight: 500;
}