@use '../abstracts' as *;

@font-face {
    font-family: 'title';
    src: url('../fonts/MonaSans-Medium.woff2') format('woff');
    src: url('../fonts/MonaSans-Medium.ttf') format('truetype');
    src: url('../fonts/MonaSans-Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: block;
}

:root {
    --font-title: 'title';
}

h1 {
    font-size: 1.6em;

    @include breakpoint-up(md) {
        font-size: 3em;
    }
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    margin: 0;
}

b {
    font-weight: 500;
}